<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
	<title>My Devices</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	
	<div class="header-line"></div>
	<h1>My Devices</h1>


	<div class="footer"></div>


</body>
</html>
