<!DOCTYPE HTML>
<head>
        <meta charset="UTF-8">
        <title>Voice Control</title>
        <link rel="stylesheet" href="/style.css">
</head>

<body>

        <div class="header-line"></div>
        <h1>Voice Control</h1>


        <div class="footer"></div>


</body>
</html>
