<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
        <title>Log In</title>
        <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="header-line"></div>
	<form>
		<h2>Create Account</h2>
		
		<label for="full_name">Full Name:</label><br>
		<input type="text" id="full_name" name="full_name"><br>

		<label for="email">Email: </label><br>
		<input type="text" id="email" name="email"><br>


		<label for="phone">Phone: </label><br>
		<input type="text" id="phone" name="phone"><br>

		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username"><br>
		
		<label for="pwd">Password:</label><br>
		<input type="password" id="pwd" name="pwd">
		
		<input type="submit" value="Create Account">
	</form>
	<div class="footer"></div>
</body>
</html>






