<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Log In</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="header-line"></div>
	<div class="login-container">
		<h2>Log in</h2>	
		<form action="/login" method="POST">
			<label for="username">Username:</label><br>
			<input type="text" id="username" name="username"><br>
			
			<label for="pwd">Password:</label><br>
			<input type="password" id="pwd" name="pwd">
			
			<input type="submit" value="Login">
		</form>
		<p><a href="create_account">Create Account</a></p>
	</div>
	<div class="footer"></div>
</body>
</html>
